<!DOCTYPE html>
{# {% spaceless %} #}
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}Symfony Application{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" 
        id="{% block body_id %}{% endblock %}">

        {% block header %}{% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/manifest.js') }}"></script>
            <script src="{{ asset('assets/js/common.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
{# {% endspaceless %} #}